
/* Q1 */
h1 {
  color: blueviolet;
}


/* Q2 */
.colleges{
background-color:  #c83;
}



/* Q3 */
ul[class="topics"] {
    list-style-type: none;
  }

 /* Q4   */                                  
   figure img {
    max-width: 300px;
  } 

/* Q5   */
  figure {
      display: inline-block;
  }

/* Q6   */

figure {
    margin: 20px 20px 20px 20px;
}

